.CreateMemeImg {
  width: 500px;
  height: 500px;
  border: 1px solid white;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;

  overflow: hidden; /*Even though text that is dragged will not overflow, text which font-size has been changed to a bigger size might.*/
}
.CreateMemeImg .CreateMemeText {
  margin: 0;
  position: absolute;
  background-color: red;
}