.CreateMemeImg {
  width: 500px;
  height: 500px;
  border: 1px solid white;

  background-color: fuchsia;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;

  overflow: hidden;
}
.CreateMemeForm button[name="toggleAllCapsBtn"] span {
  font-weight: 900;
}
.CreateMemeImg .CreateMemeText {
  margin: 0;
  position: absolute;
  background-color: red;
}