.CreateMemeForm {
  margin-right: 30px;
}
.CreateMemeForm .field {
  margin-bottom: 5px;
  display: flex;
}
.CreateMemeForm label {
  width: 110px;
  text-align: right;
  margin-right: 10px;
}
.CreateMemeForm input,
.CreateMemeForm select {
  width: 175px;
}
.CreateMemeForm input[name='text2'] {
  flex-grow: 1;
}
.CreateMemeForm .font-family.field select {
  width: 110px;
}
.CreateMemeForm .font-size.field input {
  width: 50px;
}
.CreateMemeForm .field button {
  width: 30px;
  padding: 0;
  margin-left: 5px;
}
.CreateMemeForm .addMemeBtn {
  margin-top: 5px;
  margin-left: 120px;
}