.MemeGenerator {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: center;
}